<br>
<center>
<h1>Workforce Analytics</h1>
<h2><i> - Seongmin Lee(CID: 01247436)  -</i></h2>

# Ethnicity

In [2]:
from ethnicolr import pred_wiki_ln
import warnings
import pandas as pd
import numpy as np
warnings.filterwarnings('ignore')

def df_make(w):
    df = pd.DataFrame()
    df['last_name'] = w
    return df

def list_nested(l):
    k = df_make(l)
    pred_wiki_ln(k, 'last_name')
    return [each.split(',')[0] for each in k.race]

Using TensorFlow backend.
C:\Users\seong\AppData\Local\Continuum\anaconda3\lib\site-packages\h5py\__init__.py:36: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  from ._conv import register_converters as _register_converters

In [6]:
WOS_df = pd.read_pickle('C:/Users/seong/Documents/00. Summer/1. Workforce/Individual HW/01. Crawling(WebOfScience)/data/final.pkl')
for i in list(np.arange(0, 1495, 16)):
    try:
        df_eth = pd.read_pickle('./data/ethnictity_df.pkl')
    except:
        df_eth = pd.DataFrame(columns = ['names', 'ethnicity'])
    if df_eth.shape[0] > i:            #df = 235 > i=250
        print("DONE", df_eth.shape[0])
        continue
    else:
        start = df_eth.shape[0]
        end = i
        for j in WOS_df.co_author1[start:end]:
            row_sc = df_eth.shape[0]
            df_eth.loc[row_sc, 'names'] = j
            df_eth.loc[row_sc, 'ethnicity'] = list_nested(j)
            print("%dth. %s, %s" %(row_sc+1, df_eth.loc[row_sc, 'names'], df_eth.loc[row_sc, 'ethnicity']))
            df_eth.to_pickle('./data/ethnictity_df.pkl')

DONE 1421
DONE 1421
DONE 1421
DONE 1421
DONE 1421
DONE 1421
DONE 1421
DONE 1421
DONE 1421
DONE 1421
DONE 1421
DONE 1421
DONE 1421
DONE 1421
DONE 1421
DONE 1421
DONE 1421
DONE 1421
DONE 1421
DONE 1421
DONE 1421
DONE 1421
DONE 1421
DONE 1421
DONE 1421
DONE 1421
DONE 1421
DONE 1421
DONE 1421
DONE 1421
DONE 1421
DONE 1421
DONE 1421
DONE 1421
DONE 1421
DONE 1421
DONE 1421
DONE 1421
DONE 1421
DONE 1421
DONE 1421
DONE 1421
DONE 1421
DONE 1421
DONE 1421
DONE 1421
DONE 1421
DONE 1421
DONE 1421
DONE 1421
DONE 1421
DONE 1421
DONE 1421
DONE 1421
DONE 1421
DONE 1421
DONE 1421
DONE 1421
DONE 1421
DONE 1421
DONE 1421
DONE 1421
DONE 1421
DONE 1421
DONE 1421
DONE 1421
DONE 1421
DONE 1421
DONE 1421
DONE 1421
DONE 1421
DONE 1421
DONE 1421
DONE 1421
DONE 1421
DONE 1421
DONE 1421
DONE 1421
DONE 1421
DONE 1421
DONE 1421
DONE 1421
DONE 1421
DONE 1421
DONE 1421
DONE 1421
DONE 1421
DONE 1421
DONE 1421

In [3]:
pd.read_pickle('./data/ethnictity_df.pkl').head()

,names,ethnicity
0,"[abadir, km, caggiano, g, talmain, g]","[GreaterAfrican, GreaterEuropean, GreaterEurop..."
1,"[abadir, km, distaso, w, giraitis, l]","[GreaterAfrican, GreaterEuropean, GreaterEurop..."
2,"[abadir, km, distaso, w, giraitis, l]","[GreaterAfrican, GreaterEuropean, GreaterEurop..."
3,"[abadir, km, distaso, w]","[GreaterAfrican, GreaterEuropean]"
4,"[abadir, km, distaso, w, giraltis, l]","[GreaterAfrican, GreaterEuropean, GreaterEurop..."