In [187]:
import pandas as pd
import numpy as np

In [188]:
table1 = pd.read_excel('dataset/selected_data.xlsx', sheetname='Table1')
table2 = pd.read_excel('dataset/selected_data.xlsx', sheetname='Table2', header = 1)
table3 = pd.read_excel('dataset/selected_data.xlsx', sheetname='Table3a', header = 8)
table4 = pd.read_excel('dataset/selected_data.xlsx', sheetname='Table4ab', header = 0)
table5 = pd.read_excel('dataset/selected_data.xlsx', sheetname='Table5', header = 1)
table6 = pd.read_excel('dataset/selected_data.xlsx', sheetname='Table6ab', header = 1)
table9 = pd.read_excel('dataset/selected_data.xlsx', sheetname='Table9')
GDP = pd.read_csv('dataset/GDP.csv', header= None) # Souce: World Bank Group

## Table1

In [189]:
table1_1 = pd.concat([table1.iloc[:, 0:2], table1.iloc[:, 4:21]], axis=1)
# NA Value to minimum value in each row
table1_1.replace('Unknown', np.nan,inplace=True )
table1_1_1 = table1_1.iloc[:, 0:2]
table1_1_2 = table1_1.iloc[:, 2:]
table1_1_2 = table1_1_2.apply(lambda row: row.fillna(row.min()), axis=1).astype('int')
table1_1 = pd.concat([table1_1_1, table1_1_2], axis=1)

#Change the tidy form 
table1_1 = pd.melt(table1_1, id_vars=['Type', 'Category'], var_name='Year', value_name='n_of_threatened')

## Table2

In [191]:
table2_1 = pd.melt(table2, id_vars=['Risk Level', 'Category'], var_name = 'Year', value_name='n_of_risk_level_change')

## Table3a

In [192]:
table3_1 = table3[['Class*', 'EX', 'EW','CR(PE)**', '*', 'CR', 'EN','VU', 'NT', 'LR/cd', 'DD', 'LC']].iloc[1:32, :]
table3_1.rename(columns={'Class*':'Category', 'CR(PE)**':'CR'}, inplace=True)
table3_1 = pd.melt(table3_1, id_vars=['Category'], var_name='Red_List_category', value_name='n_of_threatened')

## Table4ab

In [193]:
table4_1 = table4[['Animal/plant', 'Class', 'Group','EX','EW','CR','EN','VU']]
table4_1 = pd.melt(table4_1, id_vars=['Animal/plant', 'Class', 'Group'], var_name='Red_List_category', value_name='n_of_threatened')

## Table5

In [194]:
GDP = GDP.iloc[:, 1:3]
GDP.rename(columns={1:'Country', 2:'GDP(USD)'}, inplace=True )

In [195]:
table5_1 = table5.iloc[:, :-1]
table5_1 = pd.melt(table5_1, id_vars=['Continent', 'Country'], var_name = 'Category', value_name = 'n_of_threatened')

In [196]:
table5_GDP = table5_1.groupby('Country').sum().reset_index()
table5_GDP = pd.merge(left=table5_GDP, right = GDP, how='left')

In [203]:
table5.head()

,Continent,Country,Mammals,Birds,Reptiles,Amphibians,Fishes,Molluscs,Other Inverts,Plants,Fungi & Protists,Total
0,AFRICA,Algeria,14,14,8,3,40,11,29,18,0,137
1,AFRICA,Egypt,17,14,12,0,53,0,56,3,0,155
2,AFRICA,Libya,10,7,6,0,32,0,4,3,0,62
3,AFRICA,Morocco,18,16,13,2,54,37,32,36,1,209
4,AFRICA,Tunisia,14,10,6,1,39,7,13,7,0,97

## Table6ab

In [199]:
tabl6_1=table6[['Animal/plant', 'Continent', 'Sub_Continent', 'Country', 'EX', 'EW', 'CR', 'EN', 'VU']]
table6_1 = pd.melt(tabl6_1, id_vars=['Animal/plant', 'Continent', 'Sub_Continent', 'Country'], var_name = 'Red_List_category', value_name = 'n_of_threatened')

## Export to csv dataset

In [200]:
table1_1.to_csv('table1.csv')
table2_1.to_csv('table2.csv')
table3_1.to_csv('table3.csv')
table4_1.to_csv('table4.csv')
table5_1.to_csv('table5.csv')
table5_GDP.to_csv('table_GDP.csv')
table6_1.to_csv('table6.csv')